[submodule "planificador-de-procesos"]
	path = planificador-de-procesos
	url = https://github.com/pullusdoctus/planificador-de-procesos
[submodule "dsa"]
	path = dsa
	url = https://github.com/pullusdoctus/ci0116_25a_b96804
[submodule "tareas_ensambla"]
	path = tareas_ensambla
	url = https://github.com/pullusdoctus/tareas-ensambla
[submodule "assembler-voice-assistant"]
	path = assembler-voice-assistant
	url = https://github.com/pullusdoctus/assembler-voice-assistant
[submodule "probabilidad-y-estadistica"]
	path = probabilidad-y-estadistica
	url = https://github.com/pullusdoctus/probabilidad-y-estadistica
